nav {
    height: 65px;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

span {
    padding-inline: 1rem;
    margin: 1rem 1rem 1rem 0;
    margin-inline: 1rem;
}