#addschedule {
    padding: 2%;
    background-color: lightblue;
    display: inline-block;
    border-radius: 10px;
}

.name {
    text-align: center;
    /* padding: 3%; */
    font-weight: bold;
    font-size: 105%;
}